<html>
<head>
    <title>School</title>
</head>
<body>
<h1>Welcome To our School :)</h1>
<h2>Go to :</h2>
<h3>
    <ul>
        <li><a href="/teachers">Teachers List</a></li>
        <li><a href="/students">Students List</a></li>
    </ul>
</h3>
<br>
<br>
<h2>Create :</h2>
<h3>
    <ul>
        <li><a href="/create_teacher">Create Teacher</a></li>
        <li><a href="/create_student">Create Student</a></li>
    </ul>
</h3>
<br>
<br>
<!-- <h2>Edit :</h2>
<h3>
    <ul>
        <li><a href="/edit_teacher">Edit Teacher</a></li>
        <li><a href="/edit_student">Edit Student</a></li>
    </ul>
</h3> -->
<div>
    <h2>Sign in</h2>
</div>

</body>
</html>