<!DOCTYPE html>
<html>
<head>
<title>Students</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Students List</h2>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Options</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.address}}</td>
    <td>{{student.phone}}</td>
    <td>
      <form action="/delete_student/{{student.id}}" method="delete">
        <input type="submit" value="DELETE" />
    </td>
  </tr>
  {% endfor %}
</table>
<div>
    <h3><a href="/create_student">Create Student</a></h3>
    <h3><a href="/">Back to Home</a></h3>
</div>
</body>
</html>
