<!DOCTYPE html>
<html>
<head>
<title>Teachers</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Teachers List</h2>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Options</th>
  </tr>
  {% for teacher in teachers %}
  <tr>
    <td>{{teacher.id}}</td>
    <td>{{teacher.name}}</td>
    <td>{{teacher.address}}</td>
    <td>{{teacher.phone}}</td>
    <td>
      <form action="/delete_teacher/{{teacher.id}}" method="delete">
        <input type="submit" value="DELETE" />
    </form>
      </td>
      <td>
        <a href="/edit_teacher/{{teacher.id}}">EDIT</a>
    </td>
  </tr>
  {% endfor %}
</table>
<div>
    <h3><a href="/create_teacher">Create Teacher</a></h3>
    <h3><a href="/">Back to Home</a></h3>
</div>
</body>
</html>
