<html>
<title>Home</title>
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    }

</style>
<body>
<a href="https://omarcap.auth0.com/authorize?audience=school&response_type=token&client_id=84fHKL9mXnvUFv2j0YKxtPtdMR5Ehs4I&redirect_uri=http://127.0.0.1:5000/result"><button class="button button5">Sign in</button></a>
</body>
</html>