<html>
<head>
    <title>Create Teacher</title>
</head>
<body>
<h1>Create Teacher</h1>
<form class="form" method="post" action="/create_teacher">
  <div>
    <div>
      <label for="name">Teacher name :</label>
      <input type="text" name="name"/>
    </div>

    <div>
      <label for="address">Teacher address :</label>
      <input type="text" name="address"/>
    </div> 
    
    <div>
      <label for="phone">Teacher Phone :</label>
      <input type="number" name="phone"/>
    </div>
    <input type="submit" value="Create Teacher"/>
  </div>
</form>
<br>
<br>
<h2><a href="/teachers">Teachers List</a></h2>
<br>
<h2><a href="/">Home</a></h2>
</body>
</html>