<html>
<head>
    <title>Edit Teacher</title>
</head>
<body>
  <form class="form" method="post" action="">
    <div>
      <div>
        <label for="name">Teacher name :</label>
        <input type="text" name="name"/>
      </div>
  
      <div>
        <label for="address">Teacher address :</label>
        <input type="text" name="address"/>
      </div> 
      
      <div>
        <label for="phone">Teacher Phone :</label>
        <input type="number" name="phone"/>
      </div>
      <input type="submit" value="UPDATE Teacher"/>
    </div>
  </form>
</body>
</html>
